.positioned {
    position: relative;
}

table {
    position: absolute;
    top: 0;
    left: 0;
}

table {
    border-collapse: collapse;
}

table,
td {
    padding: 0;
    border: 1px solid black;
}

td {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
}

.grass{
    background-color: #658b60;
    text-align: center;
}

.bread{
    background-color: #8b8860;
    text-align: center;
}

.karegar-0 {
    opacity: 1.0;
    background-color: #ff0000;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    text-align: center;
}

.karegar-1 {
    opacity: 1.0;
    background-color: #0000ff;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    text-align: center;
}

.sarbaz-0 {
    opacity: 1.0;
    background-color: #ff0055;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    text-align: center;
}

.sarbaz-1 {
    opacity: 1.0;
    background-color: #5500ff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    text-align: center;
}

.cell {
    opacity: 1.0;
    position: absolute;
    top: 0;
    left: 0;
}

.wall {
    background-color: #607D8B88;
}

.base-0 {
    background-color: #ff000088;
}

.base-1 {
    background-color: #0000ff88;
}

td>div {
    width: 100%;
    height: 100%;
}

#main-table td>div>div {
    opacity: 0.7;
    box-sizing: border-box;
}

#main-table td>div {
    position: absolute;
    top: 0;
    left: 0;
}

#main-table td>div.king>div {
    width: 100%;
    height: 100%;
}

#main-table td>div.units {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
}

#main-table td>div>div {
    vertical-align: middle;
    text-align: center;
    user-select: none;
}

#main-table td .player-0 {
    background-color: #2196F3;
}

#main-table td .player-1 {
    background-color: #F44336;
    color: white;
}

#main-table td .player-2 {
    background-color: #4CAF50;
}

#main-table td .player-3 {
    background-color: #FFEB3B;
}

.spell {
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
}

.spell-0 {
    border-color: #651FFF;
}

.spell-1 {
    border-color: #B2FF59;
}

.spell-2 {
    border-color: #795548;
}

.spell-3 {
    border-color: #64FFDA;
}

.spell-4 {
    border-color: #FFAB00;
}

.spell-5 {
    border-color: #FFFFFF;
}